.files-list {
  display: flex;
  flex-flow: wrap;
}

.file-control {
  margin: 2rem;
  display: flex;
  flex-direction: column;
}

.file {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8rem;
}

.file-icon {
  font-size: 5rem;
  margin: 0;
  height: 5rem;
}

.file-name {
  text-align: center;
  font-size: .8rem;
}

.file-link {
  text-decoration: none;
  color: black;
}

.delete-button {
  background: red;
  color: white;
}

.disable-delete-button {
  background: gray;
  color: black;
}

.disable-file-link {
  color: gray;
}

.file-input-button {
  border: none;
  padding: 0;
  margin: .2rem .2rem .2rem 0;
  font-size: 1.1rem;
  font-weight: 300;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
}