body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #333;
  line-height: 1.4;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.button {
  background: #1c88bf;
  color: white;
  border: none;
  padding: .5rem;
  margin: .2rem;
  font-size: 1.1rem;
  font-weight: 300;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
}

.danger-button {
  background: red;
  color: white;
  border: none;
  padding: .5rem;
  margin: .2rem;
  font-size: 1.1rem;
  font-weight: 300;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
}

.content-container {
  margin: 0 auto;
  padding: 0 1.6rem;
  max-width: 80rem;
}

.small-content-container {
  margin: 0 auto;
  padding: 0 1.6rem;
  max-width: 20rem;
}

.account-type-content-container {
  display: flex;
  margin: 0 auto 4rem auto;
  padding: 0 1.6rem;
  max-width: 45rem;
}

.note-container {
  max-width: 45rem;
  margin: 0 auto;
}

.account-type-column {
  border: .1rem solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 12rem;
  margin: .1rem;
  width: 10rem;
}

.account-type-description {
  margin: 1rem;
  text-align: center;
}

.personal-account-type-column {
  background: rgb(169, 218, 181);
}

.business-account-type-column {
  background: rgb(145, 168, 249);
}

.premium-account-type-column {
  background: rgb(254, 251, 10);
}

.account-price-row {
  display: flex;
  justify-content: space-between;
}

.account-type-form-content-container {
  width: 30rem;
  margin: 0 auto 7rem auto;
}






.form-container {
  display: flex;
  flex-direction: column;
}

.form-container input {
  margin-bottom: 1rem;
}

.input-style {
  height: 1.3rem;
  font-size: 1.2rem;
}

.label-style {
  font-size: .9rem;
}

a {
  text-decoration: none;
}

.form-error {
  color: red;
  font-size: 1.4rem;
  font-style: italic;
}
